<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.tx_cookie_content_restrict_access} == 1">
    <f:then>
        <div id="ccpid-{data.uid}" class="cc-placeholder border border-hint border-opacity-75 p-3">
            <p>Placeholder</p>
            <button class="btn-ccp btn btn-primary" data-ccid="{data.uid}">Test</button>
            <template id="ccid-{data.uid}">{current -> f:format.raw()}</template>
        </div>
        <f:asset.script identifier="cookie-content" src="EXT:cookie_content/Resources/Public/JavaScript/handler.js" />
    </f:then>
    <f:else>
        {current -> f:format.raw()}
    </f:else>
</f:if>
</html>
